.user-container{
    background-color: rgb(11, 196, 196);
    padding: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
    gap: 1.5 rem;
}

#user-image{
    height: 40%;
    width: 40%;
    border-radius: 50%;

}


